.hourly_container{
    width: 80vw;
    outline: auto;
    display: flex;

}

.hourly_box{
    display: flex;
    align-items: center;
    outline: auto;
    flex-direction: column;
    height: 15vh;
    justify-content: space-evenly;
}

.hourly_time{
    font-size: 20px;
    font-weight: bold;
    
}

.img_and_temp{
    width: 5vw; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 15px;
}

.hourly_temp{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.hourly_icon{
    width: 25px;
}